.firefly {
  position: fixed;
  width: 0.8vw;
  height: 0.8vw;
  z-index: -1;
  pointer-events: none;
  animation: ease alternate infinite;
}

.firefly::before,
.firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
#ellipse-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.ellipse {
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  filter: blur(40px);
  animation: float 20s ease-in-out infinite;
}
.bg-blur {
  backdrop-filter: blur(90px) !important;
  box-shadow: unset !important;
  background-color: transparent !important;
  border: 2px solid var(--prime2);
  border-bottom: 3px solid var(--prime);
  border-right: 2px solid var(--prime);
  background-color: var(--fills) !important;
  background-image: unset !important;
}
@keyframes float {
  0% {
    transform: translateY(0px);
    filter: blur(80px);
  }
  50% {
    transform: translateY(-150px);
    filter: blur(180px);
  }
  100% {
    transform: translateY(0px);
    filter: blur(80px);
  }
}

.firefly::before {
  background: rgba(255, 255, 255, 0);
  opacity: 0.4;
  animation: drift ease alternate infinite;
}

.firefly::after {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 0px 0px rgb(0, 255, 247);
  animation: drift ease infinite, flashes ease infinite;
}
.firefly::before {
  animation-duration: var(--before-duration);
}

.firefly::after {
  animation-duration: var(--before-duration), var(--after-duration);
  animation-delay: 0ms, var(--after-delay);
}
@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flashes {
  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw rgb(0, 255, 247);
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw rgb(0, 255, 247);
  }
}
